# WordPress Core
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/updraft/
wp-content/mysql.sql
wp-content/object-cache.php
wp-content/w3tc-config/

# WordPress Logs
*.log
wp-content/*.log

# Project specific
.DS_Store
Thumbs.db
*.zip
*.tar.gz
*.gz

# LocalWP specific
local-xdebuginfo.php

# Git context
.gitignore
